/* 기본 테마 */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* 다크모드 테마 */
[data-theme="dark"] {
  --background-color: #222222;
  --text-color: #ffffff;
}

/* 전체 스타일에 적용 */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
