.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1; /* 부모 요소의 크기를 벗어나지 않는 선에서 최대한 늘어남 */
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px; /* 테두리 곡선 */
}

.Editor button {
  cursor: pointer; /* 마우스 올릴 시 마우스 모양 변경 */
  width: 80px;
  border: none;
  background-color: rgb(37, 146, 255);
  color: white;
  border-radius: 5px;
}
