li {
  background-color: #1e1e1e; /*배경 색*/
  padding: 20px; /*내부 여백*/
  border-radius: 10px; /*바깥 선 둥글기*/
  border: 1px solid #333; /*바깥 선 굵기 설정 및 색상설정*/
  width: 300px; /* 넓이 */
  text-align: center; /* 내부 글자 요소 정렬 */
  display: flex; /* flex */
  flex-direction: column; /* flex 요소 세로 정렬 */
  align-items: center; /* 요소 중앙정렬 */
  gap: 10px;
}

p {
  margin: 0;
}

span {
  margin-bottom: 10px; /* 밑에 여백 공간*/
}

button {
  background-color: #333; /* 버튼 배경 색 */
  color: white; /* 버튼 글자 색 */
  border: none; /* 버튼 테두리 */
  padding: 10px 20px; /* 안쪽 여백 상 하 10 좌우 20*/
  border-radius: 5px; /* 테두리 둥글기 */
  cursor: pointer; /* 마우스 올렸을 때 포인터 */
  transition: background-color 0.3s; /*배경색 변하는 속도 */
}

button:hover {
  background-color: #555; /* 마우스 호버시 배경 색상 변경 */
}
